<h1>All lists</h1>
    <ul>
    <% @list.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    <% end %>
    </ul>
 <%= link_to "Add a new List", new_list_path, class: 'btn btn-primary' %>
